@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville&display=swap');

nav {
  color: #403D39
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  padding: 2vw;
  list-style: none;

}

nav a {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #403D39
}

nav a:hover {
  color: #EB5E28;
}
