_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
gemfiles/
Gemfile.lock
node_modules/
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/

*.gem
.bundle
.jekyll-cache
.sass-cache
_site
Gemfile.lock

